<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Venite a trovarci per tanto diverimento</h2>
          <img src="img/abouth.png" class="img-responsive center-block" border="0">
        <p class="lead">Plataciland si trova nel cuore dell'Alto Jonio cosentino. </p>
      </div>
    </div>

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Il parco è attualmente chiuso: riapriremo a Giugno.
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
