<section id="map" class="map">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <p>
                    
                </p>
                 <video width="320" height="240" controls>
                    <source src="(1)_Plataciland_Avventura_Nella_Natura.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video> 
            </div>
        </div>
    </div>
</section>


