<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include services.html %}
  {% include carousel.html %}
  {% include map.html %}
  {% include footer.html %}
  {% include scripts.html %}
  
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick-1.5.9/slick/slick.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.responsive').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        adaptiveHeight: true
        });
    });
  </script>
  
</body>

</html>
